:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 225, 225,0.3);
    font-size: 10px;
}

* {
margin: 0;
padding: 0;
outline: none;
border: none;
text-decoration: none;
text-transform: capitalize;
transition: 0.2 linear;
font-family: "Roboto",  sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 99;
    border-bottom: var(--border);
}
.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
}

.icon img {
    margin: 1rem;
    cursor: pointer;
}

.icon img:hover {
    width: 40px;
    height: 40px;
}

.btn {
    background: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
}

.home-container {
    background: url("img/home-img.jpg");
    height: 100vh;


}

